<div class="container">
  <div class="row">
      <div class="col-10">
          <h1>The seven wonders</h1>
      </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img class="img-fluid max-width: 100% height: auto" style="max-width: 500px; max-height: 500px" src="https://www.worldatlas.com/r/w960-q80/upload/9e/4e/a3/7-wonders-of-the-world-005.jpeg" alt="logo">
    </div>
  </div>
  <app-maravilla-list></app-maravilla-list>
  <div class="row text-center">
    <p> The seven wonders</p>
    <p> Visit them!</p>
  </div>
</div>
